/* FarmartProduct.css */

.abcd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 150px; /* Add negative margin to compensate for card padding */
    margin-right: 150px; /* Add negative margin to compensate for card padding */
  }
  
  .abcd> * {
    margin: 10px; /* Add margin to each card */
  }
  
  /* You can add more styles here as needed */
  