.filter {
  position: fixed;
  top: 60px; /* Adjust this value based on your navbar height */
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

/* Products container */
.abcd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 220px; /* Adjust margin to accommodate filter menu */
  margin-right: 150px; /* Adjust margin to accommodate filter menu */
}

.abcd > * {
  margin: 10px; /* Add margin to each card */
}

/* Category filter */
.category-filter {
  margin-top: 0px; /* Add space between price and category filters */
}

.category-filter label {
  display: block;
  margin-bottom: 2px; /* Add space between category checkboxes */
}

/* Increase font size of price and category labels */
.filter label,
.category-filter label {
  font-size: 18px; /* Adjust font size as needed */
}